# Python Cache
__pycache__/
/.pytest_cache/

# Dev Docs
docs/improvements

# Venv Ambience
.venv/

# Storage
storage/uploads/*
storage/transcriptions/*

*.txt

*.py[cod]
*$py.class
*.so
.Python
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/