--extra-index-url https://download.pytorch.org/whl/cu124
fastapi
uvicorn
jinja2
python-multipart
python-dotenv
pydantic
yt-dlp
openai-whisper
faster-whisper
torch
imageio-ffmpeg
pytest
httpx
requests
